NODE_ENV=test
DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=test_root
DB_NAME=it4788_db_test
PORT=8001

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# JWT
JWT_SECRET=test-jwt-secret-key

# OTP Reset Password
RESET_PASSWORD_OTP_LENGTH=6
RESET_PASSWORD_OTP_TTL=300
RESET_PASSWORD_OTP_COOLDOWN=60
RESET_PASSWORD_VERIFIED_TTL=600
