# DB_HOST=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=root
DB_NAME=it4788_db

# PORT=8001
PORT=8000

R2_BUCKET=it4788
R2_ENDPOINT=https://7472088b9435739c9ea8e906de8a1614.r2.cloudflarestorage.com
R2_PUB_ENDPOINT=https://pub-aa0c23ea19d44e74bdd8b7719ed6c977.r2.dev
R2_ACCESS_KEY=8d37a6c814600eb56f69aa2b907732cf
R2_SECRET_KEY=983ac9289a4ad6b3e1127f6bff0041e692b84d54d9ec6dc4bfdbdc3f5af02e9f

# REDIS_HOST=redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=

JWT_SECRET=fsdn5794u9bci74jk
JWT_EXPIRES_IN=7d

RESET_PASSWORD_OTP_LENGTH=6
RESET_PASSWORD_OTP_TTL=600
RESET_PASSWORD_OTP_COOLDOWN=360
7472088b9435739c9ea8e906de8a1614.r2.cloudflarestorage.com